/********************** FLEXBOX PLACHOLDERS **********************/
%flex {
    display: flex;
}

%flex-ai-c {
    align-items: center;
}

%flex-jc-c {
    justify-content: center;
}

%flex-d-c {
    flex-direction: column;
}

%flex-d-r {
    flex-direction: row;
}

%flex-hv-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


/********************** TYPOGRAPHY PLACHOLDERS **********************/
%text-l {
    font-size: rem(40px);
    letter-spacing: rem(2.5px);
}

%text-m {
    font-size: rem(24px);
    letter-spacing: rem(1.5px);
}

%text-s {
    font-size: rem(20px);
    letter-spacing: rem(1.25px);
}

%text-xs {
    font-size: rem(16px);
    letter-spacing: rem(1px);
}

%text-body {
    font-size: rem(14px);
    letter-spacing: rem(0.8px);
}