@use 'functions' as *;
@use 'variables' as *;

/********************** FLEXBOX PLACHOLDERS **********************/
%flex {
    display: flex;
}

%flex-ai-c {
    align-items: center;
}

%flex-jc-sb {
    justify-content: space-between;
}

%flex-jc-c {
    justify-content: center;
}

%flex-d-c {
    flex-direction: column;
}

%flex-d-r {
    flex-direction: row;
}

%flex-hv-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/********************** TYPOGRAPHY PLACHOLDERS **********************/
%text-l {
    font-size: rem(40px);
    letter-spacing: rem(2.5px);
}

%text-m {
    font-size: rem(24px);
    letter-spacing: rem(1.5px);
}

%text-s {
    font-size: rem(20px);
    letter-spacing: rem(1.25px);
}

%text-xs {
    font-size: rem(16px);
    letter-spacing: rem(1px);
}

%text-body {
    font-size: rem(14px);
    letter-spacing: rem(0.8px);
}

/********************** BORDER RADIUS PLACHOLDERS **********************/
%br-5 {
    border-radius: rem(5px);
}

%br-10 {
    border-radius: rem(10px);
}

%br-15 {
    border-radius: rem(15px);
}

/********************** BOX SHADOW PLACHOLDERS **********************/
%bs-green {
    box-shadow: inset 0px -8px 0px #10212A;
}

%bs-yellow {
    box-shadow: inset 0px -8px 0px #CC8B13;
}

%bs-blue {
    box-shadow: inset 0px -8px 0px #118C87;
}

%bs-silver {
    box-shadow: inset 0px -4px 0px #6B8997;
}

/********************** BACKGROUND COLOR PLACHOLDERS **********************/
%bg-blue {
    background-color: $light-blue;
}

%bg-silver {
    background-color: $silver;
}

%bg-yellow {
    background-color: $light-yellow;
}

%bg-semi-dark {
    background-color: $semi-dark-navy;
}

/********************** LAYOUT PLACHOLDERS **********************/
%center {
    margin: 0 auto;
}

%width-100 {
    width: 100%;
}

%game-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}