:root {
    // Font Family
    --font-family-kumbh-sans   : 'Kumbh Sans',  sans-serif;
    --font-family-roboto-slab  : 'Roboto Slab', serif;
    --font-family-space-mono   : 'Space Mono',  monospace;

    // Font Weight
    --font-weight--regular  : 400;
    --font-weight--bold     : 700;

    // Descriptive Base Colors
    --white       : #FFFFFF;
    --mirage      : #161932;
    --port-gore   : #1E213F;
    --periwinkle  : #D7E0FF;
    --white-lilac : #EFF1FA;

}
