// Descriptive Base Colors
$silver:         #A8BFC9;
$dark-navy:      #1A2A33;
$light-yellow:   #F2B137;
$semi-dark-navy: #1F3641;

// Descriptive Base Hover Colors
$sliver-hover:       #DBE8ED;
$light-blue-hover:   #65E9E4;
$light-yellow-hover: #FFC860;

 // Font Weight
 $font-weight--medium: 400;
 $font-weight--bold:   700;
