@use '../abstracts' as *;

.game {
    margin-top: rem(24px);
    @include mq(medium) {
        margin-top: rem(201px);
    }
    @include mq(large) {
        margin-top: rem(139px);
    }
}

.game-stats {
    height: rem(64px);
    margin-top: rem(20px);
    background-color: gray;
    @include mq(medium) {
        height: rem(72px);
    }
}







