@use '../abstracts' as *;

.game-header {
    height: rem(40px);
    margin-top: rem(24px);
    @extend %flex;
    @extend %flex-ai-c;
    @extend %flex-jc-sb;
    @include mq(medium) {
        height: rem(52px);
        margin-top: rem(201px);
    }
    @include mq(large) {
        margin-top: rem(139px);
    }
}