@use '../abstracts' as *;

.game {
    display: grid;
    grid-template-rows: rem(40px) rem(328px) rem(64px);
    margin-top: rem(24px);
    @include mq(medium) {
        grid-template-rows: rem(52px) rem(461px) rem(72px);
        margin-top: rem(201px);
    }
    @include mq(large) {
        margin-top: rem(139px);
    }
}

.game-header {
    grid-column-start: 1;
    grid-column-end:   4;
    background-color: aqua;
}

.game-board {
    grid-column-start: 1;
    grid-column-end:   4;
    margin-top: rem(64px);
    background-color: orange;
    @include mq(medium) {
        margin-top: rem(20px);
    }
}

.game-stats {
    grid-column-start: 1;
    grid-column-end:   4;
    margin-top: rem(20px);
    background-color: gray;
}
