@use '../abstracts' as *;

.menu-header {
    @extend %flex;
    @extend %flex-jc-c;
    @include mq(medium) {
        margin-top: rem(277px);
    }
    @include mq(large) {
        margin-top: rem(215px);
    }
    margin-top: rem(119px);
}