@use '../abstracts' as *;

.btn-yellow {
    @extend %bs-yellow;
    @extend %bg-yellow;
    &:hover {
        background-color: $light-yellow-hover;
    }
}

.btn-blue {
    @extend %bs-blue;
    @extend %bg-blue;
    &:hover {
        background-color: $light-blue-hover;
    }
}

.new-game-btn {
    @extend %text-s;
    @include mq(medium) {
        height: rem(67px);
    }
    display: block;
    width: 100%;
    height: rem(56px);
    color: $dark-navy;
    padding-bottom: rem(10px);
    &--cpu {
        @include mq(medium) {
            margin-top: rem(40px);
        }
        margin-top:    rem(32px);
        margin-bottom: rem(20px);
    }
}


.restart-btn {
    @include mq(medium) {
        width:  rem(52px);
        height: rem(52px);
    }
    width:  rem(40px);
    height: rem(40px);
    border-radius: 5px;
    box-shadow: inset 0px -4px 0px #6B8997;
    background-color: $silver;
    &:hover {
        background-color: $silver-hover;
    } 
}