@use '../abstracts' as *;

.btn-yellow {
    @extend %bs-yellow;
    @extend %bg-yellow;
    &:hover {
        background-color: $light-yellow-hover;
    }
}

.btn-blue {
    @extend %bs-blue;
    @extend %bg-blue;
    &:hover {
        background-color: $light-blue-hover;
    }
}

.btn-silver {
    @extend %bs-silver;
    @extend %bg-silver;
    &:hover {
        background-color: $silver-hover;
    }
}

.btn-new-game {
    display: block;
    width: 100%;
    height: rem(56px);
    color: $dark-navy;
    padding-bottom: rem(10px);
    @extend %text-s;
    @include mq(medium) {
        height: rem(67px);
    }
    &--cpu {
        margin-top:    rem(32px);
        margin-bottom: rem(20px);
        @include mq(medium) {
            margin-top: rem(40px);
        }
    }
}

.btn-restart {
    width:  rem(40px);
    height: rem(40px);
    @extend %br-5;
    @include mq(medium) {
        width:  rem(52px);
        height: rem(52px);
        border-radius: 10px;
    }
}