@use '../abstracts' as *;

.game-stats {
    color: $dark-navy;
    height: rem(64px);
    margin-top: rem(20px);
    @extend %game-grid;
    @include mq(medium) {
        height: rem(72px);
    }
    &__blue,
    &__yellow,
    &__ties {
        @extend %flex;
        @extend %flex-d-c;
        @extend %flex-jc-c;
        @extend %br-10;
        @include mq(medium) {
            border-radius: rem(15px);
        }
    }
    &__blue {
        @extend %bg-blue;
    }
    &__ties {
        @extend %bg-silver;
    }
    &__yellow {
        @extend %bg-yellow; 
    }
}