@use '../abstracts' as *;

.game-stats {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    color: $dark-navy;
    height: rem(64px);
    margin-top: rem(20px);
    @include mq(medium) {
        height: rem(72px);
    }
    &__p1,
    &__p2,
    &__ties {
        @extend %flex;
        @extend %flex-d-c;
        @extend %flex-jc-c;
        @extend %br-10;
        @include mq(medium) {
            border-radius: rem(15px);
        }
    }
    &__p1 {
        @extend %bg-blue;
    }
    &__ties {
        @extend %bg-silver;
    }
    &__p2 {
        @extend %bg-yellow; 
    }
}