@use '../abstracts' as *;

.game-board {
    aspect-ratio: 1 / 1;
    @extend %game-grid;
    &__item {
        cursor: pointer;
        @extend %br-10;
        @extend %bs-green;
        @extend %bg-semi-dark;
        @extend %flex-hv-center;
        @include mq(medium) {
            border-radius: rem(15px);
        }
    }
}