@use '../abstracts' as *;

.game-board {
    aspect-ratio: 1 / 1;
    @extend %game-grid;
    &__item {
        stroke: transparent;
        cursor: pointer;
        aspect-ratio: 1 / 1;
        padding-bottom: rem(8px);
        @extend %br-10;
        @extend %bs-green;
        @extend %bg-semi-dark;
        @extend %flex-hv-center;
        @include mq(medium) {
            border-radius: rem(15px);
        }
        &:hover {
            stroke: var(--hover-outline);
        }
    }
    &__outline-x,
    &__outline-o {
        display: none;
    }
}

