@use '../abstracts' as *;

.mark-selection {
    height: rem(205px);
    margin-top: rem(33px);
    border-radius: rem(15px);
    @extend %bs-green;
    @extend %bg-semi-dark;
    &__heading {
        padding: rem(24px) 0;
    }
    &__inner {
        width: 85%;
        height: rem(72px);
        background-color: $dark-navy;
        @extend %center;
        @extend %br-10;
        @extend %flex-hv-center;
    }
    &__x,
    &__o {
        width: 47%;
        height: rem(54px);
        fill: $silver;
        cursor: pointer;
        @extend %br-10;
        @extend %flex-hv-center;
    }
    &__sub-heading {
        opacity: 50%;
        padding: rem(21px) 0; 
    }
    @include mq(medium) {
        margin-top: rem(40px);
    }
}

// Selected State
.selected {
    fill: $dark-navy;
    @extend %bg-silver;
}

.mark-hover {
    &:hover {
        background-color: #21313b;
    }
}