@use '../abstracts' as *;

*,
*:after,
*:before {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $silver;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Outfit", sans-serif;
    background-color: $dark-navy;
}

h1 {
    margin: 0;
    @extend %text-m;
    @include mq(medium) {
        font-size: rem(40px);
        letter-spacing: rem(2.5px);
    }
}

h2 {
    @extend %text-m;
}

h4 {
    @extend %text-xs;
}



p {
    @extend %text-body; 
}

button {
    @extend %br-10;
    border: none;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;  
}

svg,
path {
    pointer-events: none;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
