@use '../abstracts' as *;

*,
*:after,
*:before {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $silver;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Outfit", sans-serif;
    background-color: $dark-navy;
}

h4 {
    @extend %text-xs;
}

p {
    @extend %text-body; 
}

button {
    @extend %br-10;
    border: none;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;  
}
