@use '../abstracts' as *;

*,
*:after,
*:before {
    box-sizing: border-box;
}

html {
    text-align: center;
    font-family: "Outfit", sans-serif;
    background-color: $dark-navy;
}
